manifest {
	name = 'LONGQC'
	author = 'Guillermo A.R. Piccoli'
	homePage = 'https://www.epicsolutions.cl'
	description = 'Pipeline for HiFi Genetic Analises'
	version = '1.0.0'
}

executor{
    jobName = { "$task.tag" }
}

singularity {
	enabled = true
	autoMounts = true
	cacheDir = "work/singularity"
}

params {
    outdir = "output"
	o ="$outdir/seq_quality"
	i = "4G"
	x = "pb-rs2"
	s = "4W"
	t = "false"
	n = 1
}

process {
	memory = 62.GB
	cpus = 24
}

profiles {
	local {
		process{
			executor = 'local'
		}
	}
    rapoi {
		process {
			executor = 'slurm'
			time = '1h'
			queue = 'quicktest'
		}
	}
}