manifest {
	name = 'LONGQC'
	author = 'Guillermo A.R. Piccoli'
	homePage = 'https://www.epicsolutions.cl'
	description = 'Pipeline for HiFi Genetic Analises'
	version = '1.0.0'
}

executor{
    jobName = { "$task.tag" }
}

singularity {
	enabled = true
	autoMounts = true
	cacheDir = "work/singularity"
}

params {
	//arguments
	//requires optional entry for ONT
	//create a config file
	a = "sampleqc -x pb-hifi -o longqc -m 2"

	//output directory
    outdir = "output"
	//output subdirectory
	o ="$outdir/seq_quality"

	//max memory 2G per processor
	m = "24.GB"
	//max cpus
	p = "12"

	//container
	c = "docker://jd21/longqc_docker:latest"

	//executor
	e = "local"
	//queue name
	q = "bigmem"
	//max time
	t = "4h"
}
